body {
  height: 100vh;
  width: 100%;
}

.container {
  align-items: center;
  width: 40%;
  align-self: center;
  text-align: center;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
}
.navbar {
  background-color: #103035;
  height: 8vh;
}

.navbar-brand {
  color: #ffffff;
  padding-left: 20px;
  font-size: 24px;
}

.navbar-brand:hover {
  cursor: pointer;
  color: #ffffff;
}

.btn-link {
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
  font-size: 20px;
}

.btn-primary {
  background-color: #0DA3A3;
  width: 150px;
  border: #0DA3A3;
}

.btn-primary:hover {
  background-color: #103035;
}

.btn-primary:active {
  background-color: #103035;
  outline: none;
}

.row-center {
  text-align: center;
}

.btn-container {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-around;
}

.card {
  text-align: center;
  align-items: center;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  height: 90vh;
  align-self: center;
}

.small-title {
  color: #103035
}

.img-fluid {
  margin-bottom: 10px;
}

.card1 {
  height: max-content;
  width: 100%;
  text-align: left;
  padding: 0;
}

.card-header {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
}

.list-group {
  width: 100%;
}

.list-group-item {
  padding: 20px;
}

.user-details {
  color:#0DA3A3;
  margin-left: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.col1 {
  width: 100%;
  padding: 0;
}
.card2 {
  padding: 20px;
}

.comment-widgets {
  text-align: left;
  width: 100%;
}

.card-title {
  font-size: 20px;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
}

.black-text {
  color: #103035;
}

.green {
  color: rgb(22, 197, 22);
}

.red {
  color: rgb(211, 16, 16);
}

.card-album {
  height: 320px;
  text-align: left;
  padding: 10px;
  margin: 10px
}

.container-album {
  width: 100%;
  align-items: center;
}

ul.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.images > li {
  position: relative;
  padding-top: 66%;
}

ul.images > li img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container-images {
  padding: 20px;
}

.btn-width {
  width: 80px;
}

.dark-mode {
  background-color: rgb(29, 29, 29);
  color: #f1f1e8;
  height: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #050505;
}

input:focus + .slider {
  box-shadow: 0 0 1px #050505;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
















@media (max-width: 567px) {
  ul.images {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
